<h2 class="add-edit-header">Add a question and answer here</h2>
<form id="add-edit-form" class="flex-col-center">
  <fieldset class="question-editor">
    <label for="question">Add Question:</label>
    <textarea id="question" name="question" placeholder="Please provide a question" rows="3" required></textarea>
  </fieldset>
  <fieldset class="answer-editor">
    <label for="answer">Add Answer:</label>
    <textarea id="answer" name="answer" placeholder="Leave blank if the answer is unknown" rows="3"></textarea>
  </fieldset>
  <button type="submit" class="submit-edit-button">Submit Changes</button>
  <a class="back-link" href="/admin">Go back</a>
</form>

<script src="/add-edit.js"></script>