<h2 class="edit-header">Edit questions and answers here</h2>
<form id="edit-form">
  <div class="question-editor">
    <label for="question">Edit Question:</label>
    <textarea id="question" name="question" placeholder="Please provide a question" required><%= question.question %></textarea>
  </div>
  <div class="answer-editor">
    <label for="answer">Edit Answer:</label>
    <textarea id="answer" name="answer" placeholder="Leave blank if the answer is unknown"><%= question.answer %></textarea>
  </div>
  <button>Submit Changes</button>
</form>
<a class="back-link" href="/admin">Go back</a>

<script src="/edit.js"></script>