<header class="login-header flex-col-center">
  <h1 class="login-title">Admin Login</h1>
  <p>Log in to add and edit questions or answers</p>
</header>
<main>
  <div class="login-container">
    <div class="error-box hide">
      <p class="error-message"></p>
    </div>
    <form class="flex-col-center" id="login-form">
      <label>Admin Username:
        <input type="text" id="username" name="username" required/>
      </label>
      <label>Admin Password:
        <input type="password" id="password" name="password" required/>
      </label>
      <button type="submit">Login</button>
    </form>
    <a href="/">Go back to main page</a>
  </div>
</main>
<script src="/login.js" defer></script>