<header class="login-header flex-col-center">
  <h1 class="login-title">Admin Login</h1>
  <p>Log in to add and edit questions or answers</p>
</header>
<main>
  <div class="login-container">
    <form class="flex-col-center" id="login-form">
      <fieldset form="login-form" name="admin-login-input">
        <label for="username">Admin Username:</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Admin Password:</label>
        <input type="password" id="password" name="password" required />

      </fieldset>
      <button type="submit">Login</button>
    </form>
    <a href="/">Go back to main page</a>
  </div>
</main>
<script src="/login.js" defer></script>
