<% if (loggedIn) { %>
  <button class="logout-button">
    <p class="admin-link">Logout Admin</p>
  </button>
<% } else if (!loggedIn) { %>
  <a class="admin-link" href="/login">Admin Access</a>
<% } %>
<main class="main-content flex-col-center">
  <div class="search-container flex-col-center">
    <label for="search">Keyword Search</label>
    <input type="text" id="search" name="search" autocomplete="off" placeholder="Why does God love us?"/>
  </div>
  <div class="pagination-container">
    <div class="pagination-numbers hide"></div>
  </div>
  <section class="questions-section">
    <article class="question-answer-container hide">
      <p>Click on a question to reveal the answer</p>
      <% if (loggedIn) { %>
        <div class="add-question-container">
          <a class="add-question-link" href="">Add a question</a>
        </div>
        <dialog class="delete-modal">
          <p class="delete-modal-message">Are you sure you want to delete this question?</p>
          <p class="delete-modal-question"></p>
          <div class="delete-modal-button-container">
            <button class="delete-modal-button">Delete</button>
            <button class="delete-modal-cancel">Cancel</button>
          </div>
        </dialog>
      <% } %>
    </article>
  </section>
</main>
<script type="module" src="/main.js"></script>
<% if (loggedIn) { %>
  <script type="module" src="/logout.js"></script>
<% } %>