<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="description" content="An application that displays 
    questions presented by the Christian group Our Relationship With God." />
    <title>Our Relationship With God</title>
    <script src="https://kit.fontawesome.com/f73c74427d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div class="sun animate-sun"></div>
    <header class="main-header">
      <h1 class="page-title">Our Relationship With <span class="highlight-text">God</span></h1>
    </header>

    <%- body %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
  </body>
</html>
