@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");
.login-header {
  text-align: center;
  padding-top: 7rem;
  font-size: clamp(2rem, 3vw, 3.2rem);
  gap: 2rem;
}

.login-header p {
  font-weight: 800;
  padding: 0 2rem;
}

.login-container {
  background-color: white;
  width: clamp(35rem, 60%, 60rem);
  margin: auto;
  margin-top: 3rem;
  padding: 5rem 1rem;
  border: 2px solid gray;
  border-radius: 10px;
  text-align: center;
}

.error-box {
  width: 75%;
  margin: auto;
  padding: 0.5rem 1rem;
  margin-bottom: 3rem;
  border: 2px solid red;
  border-radius: 5px;
  color: red;
  background-color: hsla(0deg, 50%, 50%, 0.15);
  font-size: clamp(1.2rem, 1.5vw, 1.6rem);
}

#login-form {
  gap: 3rem;
  margin-bottom: 3rem;
}

#login-form label input {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  font-size: clamp(1.2rem, 1.5vw, 1.6rem);
  border: 1px solid #2533B6;
  border-radius: 5px;
}

button[type=submit] {
  cursor: pointer;
  padding: 1rem 5rem;
  background-color: hsl(192deg, 100%, 80%);
  font-family: "Cardo", serif;
  font-size: clamp(1.2rem, 1.5vw, 1.6rem);
  font-weight: 800;
  letter-spacing: 1.5px;
  border-radius: 100vmax;
  border: 2px solid #2533B6;
  transition: background-color 0.2s ease-in;
}

button[type=submit]:hover {
  background-color: hsl(192deg, 100%, 50%);
}

.error-box,
#login-form label input,
button[type=submit] {
  font-size: clamp(1.2rem, 1.5vw, 1.6rem);
}

#login-form label,
.login-container a {
  font-size: clamp(1.6rem, 2vw, 2.4rem);
  color: #2533B6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Cardo", serif;
  color: #2533B6;
}

html * {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  padding-top: 7rem;
  background-image: radial-gradient(circle at center, white, hsl(192deg, 100%, 50%));
  background-size: 200% 200%;
  background-position: 50% 10%;
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.admin-link {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: clamp(1.6rem, 3vw, 2rem);
  letter-spacing: 1.5px;
}

.main-header {
  padding: 0 2rem;
  text-align: center;
  font-size: clamp(2rem, 3vw, 3.2rem);
  font-style: italic;
  font-weight: 400;
}
.main-header .page-title {
  font-weight: 400;
}

.main-content {
  margin-top: 3rem;
  gap: 3rem;
}

.search-container {
  width: 80%;
  gap: 1rem;
}

label[for=search] {
  text-align: center;
  font-size: clamp(2rem, 3vw, 2.4rem);
}

#search {
  color: #2533B6;
  font-family: "Cardo", serif;
  width: clamp(25rem, 50%, 40rem);
  font-size: clamp(1.2rem, 3vw, 2rem);
  border: 1px solid gray;
  border-radius: 100vmax;
  padding: 0.5rem 0 0.5rem 1rem;
}

.pagination-container {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.pagination-container .button {
  cursor: pointer;
  background-color: white;
  border: 1px solid #2533B6;
  border-radius: 5px;
  color: #2533B6;
}
.pagination-container .button.right, .pagination-container .button.left {
  padding: 0.5rem 1rem;
}

.pagination-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
.pagination-numbers .button.page {
  min-width: 30px;
  aspect-ratio: 1/1;
  font-size: 1.2rem;
  font-weight: 600;
}

.close {
  transform: translateY(-100%);
}

.hide {
  display: none;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight-text {
  -webkit-background-clip: text;
  color: transparent;
  padding-right: 1rem;
  background-image: linear-gradient(to left top, #2533B6, white, #2533B6);
  background-size: 500% 500%;
  animation: highlight-text 10s linear infinite;
}

@keyframes highlight-text {
  0% {
    background-position: 0 0;
  }
  45% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  55% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 0;
  }
}
.sun {
  position: absolute;
  top: -15rem;
  left: -15rem;
  background-color: rgba(255, 255, 0, 0.6);
  width: 30rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0 0 200px 100px hsla(60deg, 100%, 50%, 0.75);
  z-index: -1;
}

.animate-sun {
  animation: animate-sun 60s linear infinite;
}

@keyframes animate-sun {
  0% {
    transform: translate(0, 0%);
  }
  12% {
    transform: translate(25vw, -15%);
  }
  24% {
    transform: translate(50vw, -30%);
  }
  36% {
    transform: translate(75vw, -15%);
  }
  48% {
    transform: translate(100vw, 0%);
  }
  60% {
    transform: translate(75vw, -15%);
  }
  72% {
    transform: translate(50vw, -30%);
  }
  84% {
    transform: translate(25vw, -15%);
  }
  96% {
    transform: translate(0, 0%);
  }
}
.questions-section {
  width: 90%;
  letter-spacing: 1.25px;
}

.question-answer-container > p {
  text-align: center;
  font-size: clamp(2rem, 3vw, 2.4rem);
  margin-bottom: 3rem;
}

.question-box, .answer-box {
  margin: auto;
}

.question-box {
  padding: 3rem 2rem;
  position: relative;
  width: clamp(30rem, 80%, 80rem);
  background-color: #FAEDC0;
  border-radius: 5px;
  z-index: 2;
}

.email-link {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: clamp(1.2rem, 3vw, 1.6rem);
  font-weight: 800;
}

.question {
  font-size: clamp(1.2rem, 3vw, 2.4rem);
}

.question::before {
  content: "Question ";
}

.answer-box {
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  width: clamp(20rem, 70%, 75rem);
  background-color: #FCF4D9;
  border-radius: 0 0 5px 5px;
  z-index: 1;
  transition: transform 0.5s ease-out;
}

.answer {
  font-size: clamp(0.8rem, 2vw, 2rem);
}

.answer::before {
  content: "Answer: ";
}

/*# sourceMappingURL=styles.css.map */
