.login-header {
  text-align: center;
  padding-top: 7rem;
  font-size: clamp(2.2rem, 3vw, 3.2rem);
  gap: 2rem;
}

.login-header p {
  font-weight: 800;
}

.login-container {
  background-color: white;
  width: clamp(40rem, 60%, 60rem);
  margin: auto;
  margin-top: 3rem;
  padding: 5rem 1rem;
  border: 2px solid gray;
  border-radius: 10px;
  text-align: center;
}

.error-box {
  width: 75%;
  margin: auto;
  padding: 0.5rem 1rem;
  margin-bottom: 3rem;
  border: 2px solid red;
  border-radius: 5px;
  color: red;
  background-color: hsl(0, 50%, 50%, 0.15);
  font-size: clamp(1.2rem, 1.5vw, 1.6rem);
}

#login-form {
  gap: 3rem;
  margin-bottom: 3rem;
}

#login-form label {
  font-size: clamp(1.6rem, 2vw, 2.4rem);
}

#login-form label input {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  font-size: clamp(1.2rem, 1.5vw, 1.6rem);
  border: 1px solid #2533B6;
  border-radius: 5px;
}

button[type=submit] {
  cursor: pointer;
  padding: 1rem 5rem;
  background-color: hsl(192, 100%, 80%);
  font-family: "Cardo", serif;
  font-size: clamp(1.2rem, 1.5vw, 1.6rem);
  font-weight: 800;
  letter-spacing: 1.5px;
  border-radius: 100vmax;
  border: 2px solid #2533B6;
  transition: background-color 0.2s ease-in;
}

button[type=submit]:hover {
  background-color: hsl(192, 100%, 50%)
}

.login-container a {
  font-size: clamp(1.6rem, 2vw, 2.4rem);
  color: #2533B6;
}