@use "variables";
//Global Styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  outline: 1px solid white;
}

html {
  font-size: 62.5%;
}

html * {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: radial-gradient(circle at center,white, hsl(192, 100%, 50%));
  background-size: 200% 200%;
  background-position: 50% 10%;
  position: relative;
  overflow-x: hidden;
}
//------------------------------->

// Utilities
.sun {
  position: absolute;
  top: -25rem;
  left: -25rem;
  background-color: rgba(255, 255, 0, 0.75);
  width: 50rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  box-shadow: 0 0 50px 50px hsla(60, 100%, 50%, 0.75);
  z-index: -1;
}

.animate-sun {
  animation: animate-sun 60s linear infinite;
}

@keyframes animate-sun {
  0% {
    transform: translate(0, 0%);
  }

  12% {
    transform: translate(25vw, -15%);
  }

  24% {
    transform: translate(50vw, -30%);
  }

  36% {
    transform: translate(75vw, -15%);
  }

  48% {
    transform: translate(100vw, 0%);
  }

  60% {
    transform: translate(75vw, -15%);
  }

  72% {
    transform: translate(50vw, -30%);
  }

  84% {
    transform: translate(25vw, -15%);
  }

  96% {
    transform: translate(0, 0%);
  }
}
//------------------------------->

// Main Page Styling

.admin-link {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: variables.$normal-fs;
}

.main-header {
  margin-top: 10rem;
  text-align: center;
  font-size: variables.$largest-fs;
}