@use "variables";

.login-header {
  text-align: center;
  padding-top: 7rem;
  font-size: clamp(variables.$normal-fs, 3vw, variables.$largest-fs);
  gap: 2rem;
}

.login-header p {
  font-weight: 800;
  padding: 0 2rem;
}

.login-container {
  background-color: rgba($color: white, $alpha: 0.50);
  width: clamp(35rem, 60%, 60rem);
  margin: auto;
  margin-top: 3rem;
  padding: 5rem 1rem;
  border: 2px solid gray;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #2533B6;
}

.error-box {
  width: 75%;
  margin: auto;
  padding: 0.5rem 1rem;
  margin-bottom: 3rem;
  border: 2px solid red;
  border-radius: 5px;
  color: red;
  background-color: hsl(0, 50%, 50%, 0.15);
  font-size: clamp(variables.$smaller-fs, 1.5vw, variables.$small-fs);
  transition: opacity 0.5s linear;
}

#login-form {
  gap: 3rem;
  margin-bottom: 3rem;
}

#login-form label input {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  font-size: clamp(variables.$smaller-fs, 1.5vw, variables.$small-fs);
  border: 1px solid #2533B6;
  border-radius: 5px;
}

button[type=submit] {
  cursor: pointer;
  padding: 1rem 5rem;
  background-color: hsl(192, 100%, 80%);
  font-family: "Cardo", serif;
  font-size: clamp(variables.$smaller-fs, 1.5vw, variables.$small-fs);
  font-weight: 800;
  letter-spacing: 1.5px;
  border-radius: 100vmax;
  border: 2px solid #2533B6;
  transition: background-color 0.2s ease-in;
}

button[type=submit]:hover {
  background-color: hsl(192, 100%, 50%)
}

.error-box,
#login-form label input,
button[type=submit] {
  font-size: clamp(variables.$smaller-fs, 1.5vw, variables.$small-fs);
}

#login-form label,
.login-container a {
  font-size: clamp(variables.$small-fs, 2vw, variables.$large-fs);
  color: #2533B6;
}