@use "variables";
@use "login";
@use "edit";
@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");
//Global Styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

// TODO: Delete outline rule below

* {
  // outline: 1px solid white;
}

html {
  font-size: 62.5%;
  font-family: "Cardo", serif;
  color: #2533b6;
}

html * {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  padding-top: 7rem;
  background-image: radial-gradient(
    circle at center,
    white,
    hsl(192, 100%, 50%)
  );
  background-size: 200% 200%;
  background-position: 50% 10%;
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:visited, .admin-link {
  color: #2533b6;
}

button {
  font-family: "Cardo", serif;
  cursor: pointer;
}

input, textarea {
  font-family: "Cardo", serif;
}

textarea {
  resize: none;
  width: 50%;
  padding: 1rem;
  transition: background-color 0.5s linear;
  border: 1px solid #2533b6;
  border-radius: 1rem;
  font-size: clamp(variables.$small-fs, 2vw, variables.$normal-fs);
}
//------------------------------->

// Main Page Styling
.logout-button, .admin-link {
  cursor: pointer;
}

.admin-link {
  position: absolute;
  top: 2rem;
  right: 4rem;
  font-size: clamp(variables.$small-fs, 3vw, variables.$large-fs);
  font-weight: 600;
  letter-spacing: 1.5px;
  transition: transform 0.5s linear;
}

.admin-link:hover {
  transform: scale(1.10);
}

.main-header {
  padding: 0 2rem;
  text-align: center;
  font-size: clamp(variables.$normal-fs, 3vw, variables.$largest-fs);
  font-style: italic;
  font-weight: 400;
  .page-title {
    font-weight: 400;
  }
}

.main-content {
  margin-top: 3rem;
  gap: 3rem;
}

.search-container {
  width: 80%;
  gap: 1rem;
}

label[for="search"] {
  text-align: center;
  font-size: clamp(variables.$normal-fs, 3vw, variables.$large-fs);
}

#search {
  width: clamp(25rem, 50%, 40rem);
  color: #2533b6;
  font-family: "Cardo", serif;
  font-size: clamp(variables.$smaller-fs, 3vw, variables.$normal-fs);
  font-weight: 600;
  border: 1px solid gray;
  border-radius: 100vmax;
  padding: 0.5rem 0 0.5rem 1rem;
  transition: background-color 0.5s linear;
}

#search:focus, textarea:focus {
  background-color: hsl(188, 100%, 85%);
  outline: 1px solid #2533b6;
}

.pagination-container {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  .button {
    background-color: white;
    border: 1px solid #2533b6;
    border-radius: 5px;
    color: #2533b6;
  }
  .button.right,
  .button.left {
    padding: 0.5rem 1rem;
  }
}

.pagination-numbers {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.5rem;
  .button.page {
    width: clamp(30px, 5vw, 40px);
    aspect-ratio: 1 / 1;
    font-size: clamp(variables.$smaller-fs, 2vw, variables.$small-fs);
    font-weight: 600;
    transition: background-color 0.25s linear;
  }
}

.button.page.active {
  background-color: hsl(203, 66%, 43%);
  color: white;
}

// Utilities
.close {
  transform: translateY(-100%);
}

.hide {
  opacity: 0;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight-text {
  -webkit-background-clip: text;
  color: transparent;
  padding-right: 1rem;
  background-image: linear-gradient(
    to left top,
    #2533b6,
    white,
    #2533b6 70%,
    #2533b6);
  background-size: 500% 500%;
  animation: highlight-text 7s linear infinite;
}

@keyframes highlight-text {
  0% {
    background-position: 0 0;
  }

  20% {
    background-position: 0 0;
  }

  60% {
    background-position: 100% 100%;
  }

  80% {
    background-position: 0 0;
  }
}

.sun {
  position: absolute;
  top: calc(-1 * variables.$sun-width / 2);
  left: calc(-1 * variables.$sun-width / 2);
  background-color: rgba(255, 255, 0, 0.6);
  width: variables.$sun-width;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  box-shadow: 0 0 200px 100px hsla(60, 100%, 50%, 0.75);
  z-index: -1;
}

.animate-sun {
  animation: animate-sun 60s linear infinite;
}

@keyframes animate-sun {
  0% {
    transform: translate(0, 0%);
  }

  12% {
    transform: translate(25vw, -15%);
  }

  24% {
    transform: translate(50vw, -30%);
  }

  36% {
    transform: translate(75vw, -15%);
  }

  48% {
    transform: translate(100vw, 0%);
  }

  60% {
    transform: translate(75vw, -15%);
  }

  72% {
    transform: translate(50vw, -30%);
  }

  84% {
    transform: translate(25vw, -15%);
  }

  96% {
    transform: translate(0, 0%);
  }
}
//------------------------------->

// Questions Section Styling
.questions-section {
  width: 90%;
  letter-spacing: 1.25px;
}

.question-answer-container > p {
  text-align: center;
  font-size: clamp(variables.$normal-fs, 3vw, variables.$large-fs);
  margin-bottom: 3rem;
}

.add-question-container {
  width: max-content;
  margin: 0 auto 3rem auto;
  a {
    padding: 1rem;
    font-size: clamp(variables.$small-fs, 2vw, variables.$large-fs);
    background-color: transparent;
    color: #2533b6;
    border: none;
  }
}

.question-box,
.answer-box {
  margin: auto;
}

.question-box {
  padding: 3rem 2rem;
  position: relative;
  width: clamp(30rem, 80%, 80rem);
  background-color: #faedc0;
  background-image: url("/images/Scroll.jpg");
  border: 1px solid hsl(44, 100%, 37%);
  border-radius: 5px;
  z-index: 2;
}

.email-link {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-weight: 800;
  background-image: linear-gradient(
    #2533b6,
    #2533b6
  );
}

.admin-buttons {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  button {
    padding: 0 1rem;
    background-color: transparent;
    border: none;
    font-weight: 600;
    letter-spacing: 1.5px;
  }
}

.edit-button {
  color: #2533b6;
  background-image: linear-gradient(
    #2533b6,
    #2533b6
  );
}

.delete-button {
  color: hsl(0, 100%, 34%);
  background-image: linear-gradient(
    hsl(0, 100%, 34%),
    hsl(0, 100%, 34%)
  );
}

.email-link, .admin-buttons button {
  background-size: 0% 15%;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-size 0.25s linear;
  font-size: clamp(variables.$smallest-fs, 2vw, variables.$small-fs);
}

.email-link:hover, .admin-buttons button:hover  {
  background-size: 100% 15%;
}

.question {
  font-size: clamp(variables.$smaller-fs, 2.5vw, variables.$large-fs);
}

.answer-box {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  width: clamp(20rem, 70%, 75rem);
  background-color: #fcf4d9;
  background-image: url("/images/Scroll.jpg");
  background-position: 100% 0%;
  border: 1px solid hsl(44, 100%, 44%);
  border-top: none;
  border-radius: 0 0 5px 5px;
  z-index: 1;
  transition: transform 0.5s ease-out;
}

h3 {
  font-size: clamp(variables.$smallest-fs, 2vw, variables.$normal-fs);
}

//------------------------------->
